body {
    margin: 0;
}

header {
    height: 100px;
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-size: contain;
    position: relative;
}

header>img {
    width: 200px;
    position: absolute;
    bottom: 10px;
    left: 5px;
}

main {
    margin: 10px;
}

ul {
    padding-left: 15px;
}

table {
    border-collapse: collapse;
}

th {
    text-align: initial;
}

td {
    min-width: 200px;
}

#title {
    margin-bottom: 5px;
}

#link-boolean {
    text-decoration: none;
    color: #4ea0ff;
}

#photo {
    margin-top: 20px;
}

#title-row {
    background-color: #4ea0ff;
}

.description {
    font-size: 14px;
}

.text-grey {
    color: grey;
}